*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.text-red{
    color: rgb(238, 96, 96);
}
.text-orange{
    color: #FF9900;
}

.mb-2{
    margin-bottom: 15px;
}

.mr-1{
    margin-right: 10px;
}

.btn_orange{
    background-color: #FF9900;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    transition: .3s ease;
    display: inline-block;
}

.btn_orange:hover{
    color: #fff;
    background-color: #ff7300;
}