*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.text-red{
    color: rgb(238, 96, 96);
}
.text-orange{
    color: #FF9900;
}

.mb-2{
    margin-bottom: 15px;
}

.mr-1{
    margin-right: 10px;
}